* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #f6f6f6;
    font-family: 'Playfair Display', serif;
    outline: 0 none rgb(255, 255, 255);
}

[class*="col-"] {
    flex-basis: 100%;
}
.row.no-gutters {
    margin-right: 0;
    margin-left: 0;
}

.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
    padding-right: 0;
    padding-left: 0;
}

.navbar {
    font-family: 'Work Sans', sans-serif;
    background-color: #ffffff;
    padding: 25px;
}

.nav-logo {
    margin-left: 85px;
    width: 100px;
    cursor: pointer;


}

.navbar-item {

    margin-right: 40px;
}


li a {
    color: #111111;
    font-family: 'Work Sans', sans-serif;
    margin-left:10px;
    text-transform: uppercase;
}

/*

.setting {
    position: fixed;
    height: 37px;
    width: 37px;
    top: 150px;
    right: 0;
    background-color: #ffffff;
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 10;
}

#setting-icon{
    font-size: 22px;
    cursor: pointer;
}
*/

/*
    -webkit-animation: spin 2s linear infinite;
    -moz-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    */



/*

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

*/
nav.setting-nav{
    position: fixed;
    z-index: 1000;
    top: 0;
    bottom: 0;
    right:0;
    width: 200px;
    background-color: #ffffff;
    transform: translate3d(200px, 0, 0);
    transition: transform 0.3s ease;

}

.active-nav nav.setting-nav{
    transform: translate3d(0,0,0);

}

nav.setting-nav ul{
    list-style: none;
    margin-top:100px;
}

nav.setting-nav ul li a{

    display: block;
    text-align: center;
    color: #111111;
    padding: 10px 0;
}

li a:hover{
  text-decoration: underline;
}

.nav-toggle-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top:30%;
    right: 200px;
    width: 40px;
    height: 40px;
    background-color: #ffffff;

}



#nav-set-icon{
    font-size: 20px;
    text-decoration: none;
    color:#111111;
    -webkit-animation: spin 2s linear infinite;
    -moz-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;

}


@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.set-cont {
    padding-top: 300px;
    height: 2000px;
    background-color: #ccf;
    text-align: center;
    transition: transform 0.4s ease;
}

.active-nav .set-cont {
    transform: translate3d(-200px, 0, 0);
}



div p.presentation-text {

    animation: port 4s 1 forwards;
    -webkit-animation: port 4s 1 forwards;
}

div p.presentation-text:nth-of-type(2){
    animation-delay: 0.5s;
    -webkit-animation-delay: 2s;
}



@keyframes port {
    0%{
        transform: rotateY(90deg) translateY(25%);
        opacity: 0.0;
    }
    100%{
        transform: rotateY(0deg) translateY(0%);
        opacity: 1.0;
    }
}




.pres-home {
    background-size: cover;
    width: 100%;
}

.pres-description {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 600px;
    width:100%;



}

h2.presentation-title {
     margin-left:10%;
     font-size: 40px;
     font-weight: bold;
     padding-bottom: 20px;
    font-family: 'Playfair Display', serif;

 }


p.presentation-text {
    margin-left:10%;
    color: grey;
    font-family: 'Work Sans', sans-serif;
}

section.wrapper {
    margin-top: -1px;
}

.wrapper-image {
    cursor: pointer;
    margin-top: -5px;
    display: block;
    width: 100%;
    height: auto;
}

.content {
    cursor: pointer;
    position: relative;
    width: 100%;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.8s ease;
    background-color: rgba(0, 0, 0, 0.85);
}

.content:hover .overlay {
    opacity: 0.9;
}

.text {
    margin-top: -10px;
    color: white;
    font-size: 35px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
}

p.text-description {
    margin-top: 40px;
    color: white;
    font-size: 18px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    font-family: 'Playfair Display', serif;

}

#collapse-block {
    margin-top: -3px;
    height: 100px;
    width: 100%;
    background-color: #ffffff;
    font-family: 'Work Sans', sans-serif;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;

}

.collapse-button {
    color: #111111;
}

a:hover {
    text-decoration: none;
}

footer {
    height: 100px;
    width: 100%;
    background-color: #ebebeb;
    display: flex;
    justify-content: center;
    align-items: center;

}

@media screen and (max-width: 768px) {
    h1.presentation-title {
        font-size:40px;

    }
    p.presentation-text{
        font-size:15px;
        margin-right:100px;
    }
}

@media screen and (max-width: 400px) {
    h1.presentation-title {
        font-size:30px;
    }
    p.presentation-text{
        font-size:10px;
    }
}